@model ContatoModel
@{
    ViewData["Title"] = "Confirmar exclusão";
}

<section id="confirma-exclusao-contato">
    <div class="text-center">
        <h3 class="display-6">Realmente deseja apagar o contato <strong>@Model.Nome</strong> ? </h3>
    </div>
    <br />
    <div>
        <a asp-action="Apagar" asp-controller="Contato" asp-route-id="@Model.Id" class="btn btn-success d-grid gap-2" role="button">Confirmar Exclusão</a>
        <br />
        <a asp-action="Index" asp-controller="Contato" class="btn btn-danger d-grid gap-2" role="button">Cancelar Exclusão</a>
    </div>
</section>