* {
    padding: 0;
    margin: 0;
}

.field-validation-error {
    color: #e01d1d;
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 18px;
    width: 30px;
    height: 30px;
}

#sair {
    border-radius: 12px;
}

